/*
This file is for design for icons for users
*/

.icon, .icon:before, .icon:after{
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#icon1, #icon1:before, #icon1:after{
    content: url(../icons/moominIcon.jpg);
}

#icon2, #icon2:before, #icon2:after{
    content: url(../icons/grokeIcon.png);
}

#icon3, #icon3:before, #icon3:after{
    content: url(../icons/myIcon.jpg);
}
