/*
    DESIGN FOR THE LOGIN.JSP FILE
*/

html { 
  background: url(../images/valley.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#divForm {
    height: 100%;
    width: 100%;
    display: flex;
}

#subForm {
    text-align: center;
    background-color: rgba(238,232,170,0.5);
    width: 330px;
    margin: auto;
}

input.btn {
    font-family: showcard gothic;
    font-size: 20px;
    margin: 25px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 110px;
    height: 40px;
    font-weight: bold;
    color: darkcyan;
    background-color:  khaki;
    border-radius: 6px;
    border-left-color: palegoldenrod;
    border-top-color: palegoldenrod;
    border-right-color: darkkhaki;
    border-bottom-color: darkkhaki;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
}

div.txt {
    font-family: showcard gothic;
    font-weight: bolder;
    font-size: 20px;
    color:  seagreen;
    text-shadow: 0px 0px 12px lemonchiffon;
    margin: 7px;
}

#div1 {
    font-size: 22px;
    color: teal;
}

div.txtErr{
    font-family: showcard gothic;
    color:  maroon;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0px 0px 12px lemonchiffon;
    margin: 5px;
}

input.txtBox {
    margin: 5px;
    height: 20px;
    width: 175px;
}
