/*
    DESIGN FOR THE MENU.JSP FILE
*/

html { 
  background: url(../images/backMenu.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#divMainForm {
    height: 100%;
    width: 100%;
    display: flex;
}

#mainForm {
    text-align: center;
    width: 300px;
    margin: auto;
}

#divSessionForm {
    width: 100%;
    position: relative;
}

#logo, #logo:before, #logo:after {
    content: url(../icons/mLogo.png);
    width: 90px;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 2px;
    left: 0px;
}

input.btn {
    text-align: center;
    font-family: showcard gothic;
    font-size: 43px;
    margin: 10px;
    width: 300px;
    height: 120px;
    font-weight: bold;
    text-shadow: 1px 1px 2px white, 4px 4px 15px   lightyellow;
    color: lightcoral;
    background-color: rgba(250,235,215, 0.8);
    border-radius: 20px;
    border-width: 3px;
    border-left-color:  aliceblue;
    border-top-color: aliceblue;
    border-right-color:  cadetblue;
    border-bottom-color: cadetblue;
    box-shadow: 0 8px 25px 0 rgba(0,0,0,0.2), 0 6px 30px 0 rgba(0,0,0,0.19);
}
input.btn:hover {
    background-image: url(../images/hoverBtnBack.jpg);
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    font-family: showcard gothic;
    font-weight: bolder;
    color:   darkmagenta;
    text-shadow: 0px 0px 12px lemonchiffon;
}