/*
    DESIGN FOR OPPOPENET BOARD IN MULTIPLAY GAME
*/

img.oCell0, .oCell1, .oCell2, .oCell3, .oCell4, .oCell5, .oCell6, .oCell7 {
    width: 100%;
    height: 100%;
    display: block;
}

/*passage cell*/
img.oCell0 {
    content: url(../themes/opponent/stinky0.jpg);
}

/*wall cell*/
img.oCell1 {
    content: url(../themes/opponent/stinky1.png);
}

/*walked on cell*/
img.oCell2, .oCell3, .oCell7 {
    content: url(../themes/opponent/stinky2.png);
}

/*player location*/
img.oCell4 {
    content: url(../themes/opponent/stinky.png);
}

/*goal*/
img.oCell5 {
    content: url(../themes/opponent/stinkyGoal.png);
}

/*finish*/
img.oCell6 {
    content: url(../themes/opponent/stinkyWin.png);
}

#loadingOther {
    content: url(../themes/opponent/oppLoading.gif);
}