/*
    DESIGN FOR FORM OF USER SESSION (in the top right corner)
*/

#sessionForm {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    margin: auto;
}

@font-face {
    font-family: "usernameFont";
    src: url(../extra/ARBERKLEY.ttf) format("truetype");
}

#username {
    font-family: "usernameFont";
    font-size: 17px;
    color:  darkslateblue;
    margin: 2px;
    font-weight: bold;
}

#logoutBtn {
    font-family: showcard gothic;
    font-size: 11px;
    margin: 2px;
    color:  darkslateblue;
    background-color: rgba(72,61,139, 0.3);
    border-radius: 6px;
    border-left-color:  aliceblue;
    border-top-color: aliceblue;
    border-right-color:  cadetblue;
    border-bottom-color: cadetblue;
}