/*
    DESIGN FOR THE SIGNUP.JSP FILE
*/

html { 
  background: url(../images/snufkin.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#divForm {
    height: 100%;
    width: 100%;
    display: flex;
}

#subForm {
    text-align: center;
    background-color: rgba(238,232,170,0.5);
    width: 250px;
    margin: auto;
}

input.btn {
    text-align: center;
    font-family: showcard gothic;
    font-size: 17px;
    margin: 10px;
    width: 90px;
    height: 37px;
    font-weight: bold;
    color: darkcyan;
    background-color:  khaki;
    border-radius: 6px;
    border-left-color: palegoldenrod;
    border-top-color: palegoldenrod;
    border-right-color: darkkhaki;
    border-bottom-color: darkkhaki;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
}

div.txt {
    font-family: showcard gothic;
    font-weight: bolder;
    color:  darkgreen;
    text-shadow: 0px 0px 12px lemonchiffon;
    margin: 3px;
}

div.line {
    text-align: left;
    float:left;
    display: inline-block;
    margin: 3px;
}

h1 {
    font-family: showcard gothic;
    font-weight: bolder;
    color:  darkslategray;
    text-shadow: 0px 0px 12px lemonchiffon;
}

label {
    text-align: center;
}

.errorTxt {
    font-family: showcard gothic;
    color:  maroon;
    font-size: 10px;
    font-weight: normal;
    text-shadow: 0px 0px 12px lemonchiffon;
    margin: 5px;
}

input.txtBox {
    margin: 5px;
    height: 15px;
    width: 170px;
}

/* CHECKBOXES */

.styleCheckbox {
    text-align: left;
    float:left;
    display: inline-block;
    width: 50px;    
    margin: 10px auto;
    position: relative;
}

.styleCheckbox label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    margin-left: -24px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);

    background: -webkit-linear-gradient(top, #222 0%, #4C9C64 100%);
    background: -moz-linear-gradient(top, #222 0%, #4C9C64 100%);
    background: -o-linear-gradient(top, #222 0%, #4C9C64 100%);
    background: -ms-linear-gradient(top, #222 0%, #4C9C64 100%);
    background: linear-gradient(top, #222 0%, #4C9C64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#4C9C64',GradientType=0 );
}

.styleCheckbox label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #F9FFB7;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.styleCheckbox label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.styleCheckbox input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.styleCheckbox input[type=checkbox] {
    margin-left: 15px;
}

