/*
    DESIGN FOR THE SINGLEPLAY.JSP FILE
*/

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#divUp {
    width: 100%;
    /*height: 20%;*/
    position: relative;
    text-align: center;
}

#singleTools {
    margin-left: auto;
    margin-right: auto;
}

#divMaze {
    margin-top: 50px;
    width: 100%;
    display: flex;
    text-align: center;
}

#innerDivMaze{
    width: 100%;
    display: flex;
    text-align: center;
}

#mazeTbl {
    text-align: center;
    width: 400px;
    height: 400px;
    margin: auto;
}

#loading {
    width: 400px;
    height: 400px;
    margin: auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.cell {
    width: 40px;
    height: 40px;
    padding:0px;
}

.btn {
    text-align: center;
    font-family: showcard gothic;
    font-size: 17px;
    margin: 10px;
    margin-top: 30px;
    height: 37px;
    font-weight: bold;
    color: darkcyan;
    background-color:  khaki;
    border-radius: 6px;
    border-left-color: palegoldenrod;
    border-top-color: palegoldenrod;
    border-right-color: darkkhaki;
    border-bottom-color: darkkhaki;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 15px 0 rgba(0,0,0,0.19);
}

#finish {
    width: 100%;
    position: absolute;
    font-family: showcard gothic;
    color:  darkcyan ;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0px 0px 12px lemonchiffon;
    text-align: center;
}
