/*
    DESIGN FOR THIS PLAYER FOR TYPE: MOOMIN
*/

html { 
  background: url(../themes/moomin/moom.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

img.cell0, .cell1, .cell2, .cell3, .cell5, .cell6, .cell7, .cell41, .cell42 , .cell43 , .cell44 {
    width: 100%;
    height: 100%;
    display: block;
}

.cell0:after, .cell1:after, .cell2:after, .cell3:after, .cell5:after, .cell6:after, .cell7:after, .cell41:after, .cell42:after , .cell43:after , .cell44:after {
    width: 100%;
    height: 100%;
    display: block;
}

/*passage cell*/
.cell0 , .cell0:after {
    content: url(../themes/moomin/pass.jpg);
}

/*wall cell*/
.cell1 , .cell1:after  {
    content: url(../themes/moomin/water.jpg);
}

/*walked on cell*/
.cell2 ,.cell2:after , .cell3 , .cell3:after , .cell7 , .cell7:after  {
    content: url(../themes/moomin/walkedOn.jpg);
}

/*player location*/
.cell41 , .cell41:after  {
    content: url(../themes/moomin/upMoomin.jpg);
}

.cell42 ,.cell42:after  {
    content: url(../themes/moomin/rightMoomin.jpg);
}

.cell43 ,.cell43:after  {
    content: url(../themes/moomin/downMoomin.jpg);
}

.cell44 , .cell44:after  {
    content: url(../themes/moomin/leftMoomin.jpg);
}

/*goal*/
.cell5 , .cell5:after {
    content: url(../themes/moomin/snorkaOnGrass.jpg);
}

/*finish*/
.cell6 , .cell6:after {
    content: url(../themes/moomin/moominWalkSnorka.gif);
}

#loading,  #loading:after {
    content: url(../themes/moomin/moominLoading.gif);
    box-shadow: 0px 0px 50px darkslategray;
}

.btn {
    color: #003366;
    background-color: lightblue;
    border-left-color: azure;
    border-top-color: azure;
    border-right-color:  darkslateblue;
    border-bottom-color: darkslateblue;
}

#finish {
    color:  darkcyan ;
}

#username, #logoutBtn {
    color: #003366;
}

#mazeTbl,#mazeYouTbl,#mazeOtherTbl, #loadingOther{
    box-shadow: 0px 0px 50px darkslategray;
}

.hint1, .hint2, .hint3, .hint4, .hint5, .hint6, .hint7, .hint8 {
    width: 100%;
    height: 100%;
    display: block;
}

.hint1:after, .hint2:after, .hint3:after, .hint4:after, .hint5:after, .hint6:after, .hint7:after, .hint8:after {
    width: 100%;
    height: 100%;
    display: block;
}

.hint1, .hint1:after{
    content: url(../themes/hint/wizardRed0.png);
}

.hint2, .hint2:after {
    content: url(../themes/hint/wizardPurple0.png);
}

.hint3,  .hint3:after {
    content: url(../themes/hint/wizardBlue0.png);
}

.hint4,  .hint4:after {
    content: url(../themes/hint/wizardYellow0.png);
}

.hint5,  .hint5:after {
    content: url(../themes/hint/wizardRed2.png);
}

.hint6, .hint6:after {
    content: url(../themes/hint/wizardPurple2.png);
}

.hint7, .hint7:after {
    content: url(../themes/hint/wizardBlue2.png);
}

.hint8, .hint8:after{
    content: url(../themes/hint/wizardYellow2.png);
}

