/*
    DESIGN FOR THIS PLAYER FOR TYPE: GROKE
*/

html { 
  background: url(../themes/groke/grokeBack.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  margin: 0;
}

img.cell0, .cell1, .cell2, .cell3, .cell5, .cell6, .cell7, .cell41, .cell42 , .cell43 , .cell44 {
    width: 100%;
    height: 100%;
    display: block;
}

.cell0:after, .cell1:after, .cell2:after, .cell3:after, .cell5:after, .cell6:after, .cell7:after, .cell41:after, .cell42:after , .cell43:after , .cell44:after {
    width: 100%;
    height: 100%;
    display: block;
}

/*passage cell*/
.cell0 , .cell0:after {
    
    content: url(../themes/groke/snowGrass1.jpg);
    
}

/*wall cell*/
.cell1 , .cell1:after  {
    content: url(../themes/groke/treeSnowGrass.png);
}

/*walked on cell*/
.cell2 ,.cell2:after , .cell3 , .cell3:after , .cell7 , .cell7:after  {
    content: url(../themes/groke/snow5.jpg);
}

/*player location*/
.cell41 , .cell41:after  {
    content: url(../themes/groke/upGroke.png);
}

.cell42 ,.cell42:after  {
    content: url(../themes/groke/rightGroke.png);
}

.cell43 ,.cell43:after  {
    content: url(../themes/groke/downGroke.png);
}

.cell44 , .cell44:after  {
    content: url(../themes/groke/leftGroke.png);
}

/*goal*/
.cell5 , .cell5:after {
    content: url(../themes/groke/grokeGoal.png);
}

/*finish*/
.cell6 , .cell6:after {
    content: url(../themes/groke/grokeWin.gif);
}

#loading,  #loading:after {
    content: url(../themes/groke/grokeLoading.gif);
    box-shadow: 0px 0px 50px white;
}

.btn {
    color:  darkslateblue;
    background-color:   floralwhite;
    border-left-color: white;
    border-top-color: white;
    border-right-color:  darkgrey;
    border-bottom-color: darkgrey;
}

#finish {
    color:   indigo ;
}

#username, #logoutBtn {
    color:  ghostwhite;
}

#mazeTbl,#mazeYouTbl,#mazeOtherTbl, #loadingOther {
    box-shadow: 0px 0px 50px white;
}

.hint1, .hint2, .hint3, .hint4, .hint5, .hint6, .hint7, .hint8 {
    width: 100%;
    height: 100%;
    display: block;
}

.hint1:after, .hint2:after, .hint3:after, .hint4:after, .hint5:after, .hint6:after, .hint7:after, .hint8:after {
    width: 100%;
    height: 100%;
    display: block;
}

.hint1, .hint1:after{
    content: url(../themes/hint/redWizardGroke0.png);
}

.hint2, .hint2:after {
    content: url(../themes/hint/purpleWizardGroke0.png);
}

.hint3,  .hint3:after {
    content: url(../themes/hint/greenWizardGroke0.png);
}

.hint4,  .hint4:after {
    content: url(../themes/hint/yellowWizardGroke0.png);
}

.hint5,  .hint5:after {
    content: url(../themes/hint/redWizardGroke2.png);
}

.hint6, .hint6:after {
    content: url(../themes/hint/purpleWizardGroke2.png);
}

.hint7, .hint7:after {
    content: url(../themes/hint/greenWizardGroke2.png);
}

.hint8, .hint8:after{
    content: url(../themes/hint/yellowWizardGroke2.png);
}

